<h1> Friends List App</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>  change this in config/routes.rb <br>
#get 'home/index'<br>
root 'home#index'</p>
# from https://www.youtube.com/watch?v=fmyvWz5TUWg&t=413s
# at the 39:11 mark 
